<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Form</title>
</head>
<body>
    <h1>Add Vehicle</h1>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% for error in form.non_field_errors%}
            <span>{{error | striptags}}</span> </br>
        {% endfor%}

        {% for field in form %}
            {{field.label_tag}}
            <!-- <label for="{{field.id_for_label}}">{{field.label}}</label> -->
            {{field}}
            {% for error in field.errors%}
                <span>{{error | striptags}}</span>
            {% endfor %} </br>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
</body>
</html>