<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Details</title>
    <style>
        table{
            border: 2px solid black;
            border-collapse: collapse;
        }

        th, td{
            border: 1px solid black;
            padding: 5px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Vehicle Details</h1>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    <br>
    {% if perms.vehicle.add_vehicle %}
    <a href="{% url 'vehicle_form' %}"><button>Add Vehicle</button></a>
    <br><br>
    {% endif %}

    {% if vehicles %}

    <table>
        <tr>
            <th>Vehicle No.</th>
            <th>Vehicle Type</th>
            <th>Vehicle Model</th>
            <th>Vehicle Description</th>
            {% if perms.vehicle.change_vehicle %}
            <th>Action</th>
            {% endif %}
        </tr>
        {% for vehicle in vehicles %}
        <tr>
            <td>{{vehicle.vehicle_number}}</td>
            <td>{{vehicle.vehicle_type}}</td>
            <td>{{vehicle.vehicle_model}}</td>
            <td>{{vehicle.vehicle_description}}</td>
            {% if perms.vehicle.change_vehicle %}
            <td>
                <a href="{% url 'edit_vehicle' vehicle.id %}"><button>Edit</button></a>
                {% if perms.vehicle.delete_vehicle %}
                <form action="{% url 'delete_vehicle' vehicle.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
                {% endif %}
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <h2>No Vehicle Data Found.</h2>
    {% endif %}

</body>
</html>